body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.logo-text p{
    font-size: 0.8rem;
    color: #555;
    font-style: italic;
    line-height: 1.2;

}

.sidebar {
  min-height: 100vh;
  overflow-y: auto;
}

.index-container {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #aaa;
    border-radius: 2px;
    background-color: #f0f0f0;
}
.index-header {
    background-color: #f9f9f9;
    text-align: center ;
    color: #101418;
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 0.5rem 0.5rem;
    
}
.header {
    color: #6a60b0;
}

.lead {
    font-size: 95%;
    color: #3366cc;
    font-weight: 600;
}

b {
    color: #101418;
}

.sub-header {
    padding: 1rem;
    border-radius: 2px;
    background-color: #cef2e0;
    border-color: #a3bfb1;
    border: 1px solid #aaa;
}

.showcase, .list-entries {
    padding: 1rem;
}

li a {
    text-decoration: none;
    
}

@media (min-width: 768px) {
  .sidebar {
    position: sticky;
    top: 0;
  }
}