{% extends "encyclopedia/layout.html" %}

{% block title %}{{ title }} - Wikipedia{% endblock %}

{% block content %}
    <div class="index-container-entry">
        <a class="edit-btn" href="{% url 'encyclopedia:edit_entry' title=title %}">Edit entry</a>
        <h1 class="sub-header-entry">{{ title }}</h1>
        <div class="entry-content">
            {{ content|safe }}
        </div>
        
        
    </div>
    <a class="mt-2 btn btn-primary" href="{% url 'encyclopedia:index' %}">Back to Index</a>
{% endblock %}