{% extends "encyclopedia/layout.html" %}

{% block title %} Wikipedia, the free encyclopedia {% endblock %}

{% block content %}
    

    <div class="index-container">
    
        <div class="sub-header">
            <h4>CS50 Web programming with JavaScript and Python</h4>
        </div>
        
        <div class="showcase">
            <h5>Project 1: Wiki</h5>
        </div>
        <div class="list-entries">
            <p>List of Entries</p>
            {% if entries %}
                <ul>
                    {% for entry in entries %}
                        <li><a href="{% url 'get_entry' title=entry %}">{{ entry }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-muted fst-italic">No entries available.</p>
            {% endif %}
        </div>
    </div>


{% endblock %}