<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'encyclopedia/styles.css' %}">
</head>
<body>
 
    
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar --> 
            <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <div class="sidebar-header">
                        <div class="d-flex align-items-center mb-3">
                            <img src="{% static 'images/wiki.png' %}" alt="">
                            <div class="logo-text ms-3">
                                <h4 class="mb-0">Wikipedia</h4>
                                <p class="mb-0"><em>The free encyclopedia</em></p>
                            </div>
                        </div>  
                        <hr>
                    </div>
                    
                    <!-- Search form -->
                    <form class="d-flex mb-3 px-3" role="search" action="{% url 'search_entry' %}" method="get">
                        <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>

                    <!-- Navigation links -->
                    <ul class="nav flex-column px-3">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_entry' %}">Create New Entry</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'random_entry' %}">Random Page</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main class="col-md-9 col-lg-10 ms-sm-auto px-md-4 main-content">
                <div class="index-header">
                    <h1>Welcome to<span class="header"> Wikipedia</span></h1>
                    <p class="lead"><b>The</b> free encyclopedia <b>that</b> anyone can edit.</p>
                </div>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>