{% extends 'encyclopedia/layout.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}
<br>
    <h1>Search results for "<span class="text-primary">{{ search_query }}</span>"</h1>

    {% if search_query %}
        {% if results %}
            <p class="text-muted">Found {{ results|length }} matching entr{{ results|length|pluralize:"y,ies"}}:</p>
            <ul>
                {% for result in results %}
                    <li>
                        <a href="{% url 'get_entry' title=result %}">
                        {{ result }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-danger mt-3">
                No entries found matching "<strong>{{ search_query }}</strong>".
            </p>
        {% endif %}
    {% else %}
        <p class="text-warning">Please enter a search query.</p>
    {% endif %}
{% endblock %}