{% extends 'encyclopedia/layout.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}
    <h1>Search results for {{ search_query }}</h1>

    {% if search_query %}
        {% if results %}
            <p>Did you mean  one of these entries?</p>
            <ul>
                {% for result in results %}
                    <li><a href="{% url 'encyclopedia:get_entry' title=result %}">{{ result }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-danger">No entries found matching your search query.</p>
        {% endif %}
    {% else %}
        <p class="text-warning">Please enter a search query.</p>
    {% endif %}
{% endblock %}